*.class

# Package Files #
*.jar
*.war
*.ear


/target

#Netbeans
nbproject/private/
build/
nbbuild/
dist/
nbdist/
nbactions.xml
nb-configuration.xml

#Intellij
*.iml
*.ipr
*.iws
.idea/

# Project #
src/main/webapp/WEB-INF/glassfish-web.xml
